<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加简历</title>
</head>
<script type="application/javascript">

    function username_check(){
    var username = document.getElementById('username').value;
    if(!(/^1[34578]\d{9}$/.test(username))){
        document.getElementById("username").value="输入有错误"
    }
}

</script>
<body>
<form action="/sqlapp/stuinsert/" method="post" enctype="multipart/form-data">
    姓名:<input name="stuname" type="text"><br>
    <!--年龄:<input name="stuage" type="text"><br>-->
    年龄:<select  name="stuage">
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
        <option value="33">33</option>
        <option value="34">34</option>
        <option value="35">35</option>
        <option value="36">36</option>

    </select><br>
    <!--性别:<input name="stusex" type="text"><br>-->
    性别:<input type="radio" name="stusex" value="男">男<input type="radio"   name="stusex" value="女">女<br>
    籍贯:<input name="stuhome" type="text"><br>
    毕业学校:<input name="stuschool" type="text"><br>
    联系方式:<input  id="username" name="stunumber" type="text" onblur=" username_check()"><br>
    邮政编码:<input name="stuyz" type="text"><br>
    联系住址:<input name="stuaddress" type="text"><br>
    个人介绍:<input name="stugrjs" type="text"><br>
    <input type="file" name="upimage" value="请选择您的一张证件照上传">(只支持jpg、png格式的图片)<br>
    <input type="submit" value="提交">
</form>
</body>
</html>