{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的简历</title>
	</head>
	<body>
        {% for a in my %}
		<table align="center" border="1" height="684" width="540" cellspacing="0">
                <tr height="10%" >
                    <td align="center" colspan="5" >个人简介</td>
                </tr>
                <tr height="10%">
                    <td width="18.75%" align="center">姓名:</td>
                    <td width="18.75%" align="center">{{ a.stuname }}</td>
                    <td width="18.75%" align="center">年龄:</td>
                    <td width="18.75%" align="center">{{ a.stuage }}</td>
                    <td width="25%" align="center" rowspan="2"><img src="{% static stu4 %} " width="100"></td>
                </tr>
                <tr height="10%">
                    <td  width="45" align="center">性别:</td>
                    <td width="90" align="center">{{ a.stusex }}</td>
                    <td width="45" align="center">籍贯:</td>
                    <td width="90" align="center">{{ a.stuhome }}</td>
                </tr>
                <tr height="10%" >
                    <td align="center" width="20%">毕业学校:</td>
                    <td width="80" align="center" colspan="4">{{ a.stuschool }}</td>
                </tr>
                <tr height="10%">
                    <td width="20%" align="center" align="center">联系方式:</td>
                    <td width="20%" colspan="2"align="center">{{ a.stunumber }}</td>
                    <td width="20%" rowspan="2" align="center">联系地址:</td>
                    <td  colspan="4" colspan="2" rowspan="2"align="center">{{ a.stuaddress}}</td>
                </tr>
                <tr height="10%">
                    <td width="20%" align="center" align="center">邮政编码:</td>
                    <td width="20%" colspan="2"align="center">{{ a.stuyz }}</td>
                <tr height="20%">
                    <td width="20%" align="center" >个人介绍：</td>
                    <td colspan="4" align="center">{{ a.stugrjs}}</td>
                </tr>
                <tr height="10">
                     <td width="20%" align="center" >同意你加入公司的联系电话:</td>
                    <td colspan="4" align="center">{{ a.bnum}}</td>
                </tr>
        </table>
        {% endfor %}
	</body>

</html>
